:root {
  $active-theme: $light-theme;

  @each $color, $shade in $active-theme {
    @each $prop, $value in $shade {
      --clr-#{$color}-#{$prop}: #{$value};
    }
  }
}

html[data-theme='dark'] {
  @each $color, $shade in $dark-theme {
    @each $prop, $value in $shade {
      --clr-#{$color}-#{$prop}: #{$value};
    }
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .2s linear;
}

body {
  background: var(--clr-primary-bg);
}
